name: Build and Publish Snap
on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  lint-test:
    uses: ./.github/workflows/lint-test.yml

  build-publish-snap:
    name: Build and Publish Snap
    needs: [lint-test]  # Run only if tests pass
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Build snap
        uses: snapcore/action-build@v1
        id: build

      - name: Test built snap
        run: |
          sudo snap install ${{ steps.build.outputs.snap }} --dangerous
          rayforge --help

      - name: Publish to Snapcraft
        uses: snapcore/action-publish@v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
        with:
          snap: ${{ steps.build.outputs.snap }}
          release: edge
  